<phpunit 
	bootstrap="vendor/autoload.php" 
	colors="true">

	<testsuites>
		<testsuite name="App">
			<directory suffix=".php">tests/HAD</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">src/HAD</directory>
			<directory suffix=".php">framework/SON</directory>
			<exclude>
				<directory suffix=".phtml">src/HAD/views</directory>
				<file>src/HAD/Init.php</file>
			</exclude>
		</whitelist>
	</filter>

	<logging>
		<log 
			type="coverage-html" 
			target="log/report" 
			charset="UTF-8"
			yui="true" 
			highlight="true" 
			lowUpperBound="35" 
			highUpperBound="70" />
		<log 
			type="testdox-html" 
			target="log/testdox.html" />
	</logging>

</phpunit>

